{% extends "base.html" %}
{% load static %}


{% block main %}

    <div class="personal_info">
        <div class="left_block">
            <div class="info">
                {% include 'personal_info.html' %}
            </div>
            <div class="skills">
                {% include 'skills.html' %}
            </div>
            <div class="skills">
                <p style="text-align: center"><button>Скачати резюме</button>
            </div>



        </div>
        <div class="right_block">
            <div class="avatar">
                {% include 'avatar.html' %}
            </div>
        </div>
    </div>

{% endblock %}
